{% extends 'base.html' %}

{% block content %}
  <section class="container-fluid" style="margin-top:4.5rem">
    <div class="d-flex justify-content-center align-items-center">
      <form method="post" noValidate="">
        <div class="card shadow-sm">
          <h5 class="card-header">
            Password Reset Confirmation
          </h5>
          <div class="card-body">
            {% csrf_token %}
            {% for field in form %}
              <div class="d-flex my-2">
                <div class="form-label">
                  {{ field.label_tag }}
                </div>
                <div class="ps-3 ms-auto">
                  {{ field }}
                </div>
              </div>
              {% if field.errors %}
                <div class="alert alert-danger my-2 py-1" role="alert">
                  {{ field.errors|striptags }}
                </div>
              {% endif %}
            {% endfor %}
            <hr/>
            <div class="d-flex">
              <button class="btn btn-primary ms-auto" type="submit">Reset Password</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </section>
{% endblock %}
