{% extends 'base.html' %}

{% block navbar %}
<nav class="navbar fixed-top navbar-expand-lg bg-body-tertiary border-bottom shadow-sm" style="height:3.5rem">
{% endblock %}

{% block content %}
<section class="container-fluid" style="margin-top:4.5rem">
  <div class="d-flex justify-content-center align-items-center">
    <form method="post" enctype="multipart/form-data" class="card shadow-sm mt-2">
      {% csrf_token %}
      {% if user.profile %}
      <img src="{{ user.profile.avatar.url }}" alt="{{ user.username }}'s avatar" class="img-fluid rounded-top" accept="image/*" />
      {% endif %}
      <div class="card-body">
        <h2 class="text-center">{{ user.username }}</h2>
        <p class="text-center"><a href="mailto:{{ user.email }}">{{ user.email }}</a></p>
        <hr />
        <label for="email" class="form-label">Email Address:</label>
        <div class="mb-2">
          <input type="email" id="email" name="email" value="{{ user.email }}" class="form-control w-100" />
        </div>
        <label for="avatar" class="form-label">Avatar:</label>
        <div class="mb-2">
          <input type="file" name="avatar" id="avatar" class="form-control w-100" />
        </div>
        <div class="d-grid gap-2 pt-2">
          <button type="submit" class="btn btn-primary full-width">Update Profile</button>
        </div>
      </div>
    </form>
  </div>
</section>
{% endblock %}
