{% extends "base.html" %}

{% block store %}<a class="nav-link active" aria-current="page" href="{% url 'product_list' %}">Store</a>{% endblock %}

{% block content %}
<section class="container-fluid" style="margin-top:4.5rem">
  <div class="d-flex flex-row">
    <h1>Product Catalog</h1>
    <a role="button" class="btn btn-primary ms-auto align-self-center" href="{% url 'new_product' %}">Add Product</a>
  </div>
  <hr class="mt-0" />
  {% if product_list %}
  <ul>
    {% for product in product_list %}
    <li>{{ product.pk }} + {{ product.name }} + {{ product.description }} + {{ product.type }} + {{ product.price }}</li>
    {% endfor %}
  </ul>
  {% else %}
  <p>No products found...</p>
  {% endif %}
</section>
{% endblock %}
